.btn {
  padding: 8px 20px;
  border-radius: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  width: 13rem;
}

.btn--primary {
  background-color: var(--primary);
  color: var(--secondary);
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: var(--primary);
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--outline:hover {
  transition: all 0.3s ease-out;
  background: var(--primary);
  color: var(--secondary);
  transition: 250ms;
}

.btn--primary:hover {
  transition: all 0.3s ease-out;
  background: var(--secondary);
  color: var(--primary);
  transition: 250ms;
}
